*
!docker-compose.yaml
!.env.example
!.restic.env.example
!.gitignore
!readme
!setup
!crontab
!scripts/
!scripts/**
!apk_packages
!configs/
!configs/cloudflared/
!configs/cloudflared/**
!configs/axew/
!configs/axew/**
